<%= @organization.name %> services:
<ul>
  <% @services.each do |service| %>
    <li><%= link_to service.name, service_path(service, organization_id: @organization) %></li>
  <% end %>  

  <%= paginate @services %>
</ul>

<%= link_to 'Add service', new_service_path(organization_id: @organization) %>