<h1>Editing Car Consumable Value</h1>

<%= render 'form', car_consumable_value: @car_consumable_value %>

<%= link_to 'Show', @car_consumable_value %> |
<%= link_to 'Back', car_consumable_values_path %>
