<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @car_consumable_value.value %>
</p>

<%= link_to 'Edit', edit_car_consumable_value_path(@car_consumable_value) %> |
<%= link_to 'Back', car_consumable_values_path %>
