<h1>New Car</h1>

<%= render 'form', car_form: @car_form,
                   fuel_types: @fuel_types,
                   transmission_types: @transmission_types,
                   photos:  @photos,
                   url: cars_path,
                   method: :post %>

<%= link_to 'Back', cars_path %>
