<h1>Editing Cars Owners Document</h1>

<%= render 'form', cars_owners_document: @cars_owners_document %>

<%= link_to 'Show', @cars_owners_document %> |
<%= link_to 'Back', cars_owners_documents_path %>
